.layout {
	position: relative;
}

.layout, .renderedHTML {
	width: 600px;
}


.rightSide {
	width: 600px;
	position: absolute;
	left: 640px;
}

.detail .lengthUnit,
.detail .direction,
.detail .alignment,
.detail .content,
.detail .staticContent {
	margin: 0 10px;
}

.detail .lengthValue {
	width: 30px;
}


.box {
	border: 1px solid #CCC;
	box-sizing: border-box;
	position: absolute;
	transition: all 200ms;
	cursor: pointer;
}

.box.root {
	position: relative;
	border-style: dashed !important;
}

.box.selected {
	border-color: #BCF;
	box-shadow: 0px 0px 5px #BCF;
}

.box.selected:hover {
	border-color: #8AF;
}

.box:hover {
	border: 1px solid #AAA;
}

.boxChildren {
	width: 100%;
	height: 100%;
	margin-top: -1px;
	margin-left: -1px;
	position: relative;
}

.renderedHTML {
	margin-top: 20px;
	border: 1px solid #BCF;
}

.components {
}

.disabled {
	font-style: italic;
	text-decoration: none;
	cursor: not-allowed;
	color: grey;
}
